h1, h2, h3, h4, p, form, header, section, footer, article {
    margin: 0;
    padding: 0;

}
h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer,p,form {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

html{
    
}
body {
    margin: auto auto;

    
}

header {
    overflow: auto;
    margin: auto;
    max-width: 960px;
    background-color: #ffffff;
    

    
}
h1 {
    color: #ffffff;
    position: relative;
    padding: 12px 25px;
    background-color: #4aaaa5;
    float: left;
    
}
h2 {
    padding: 10px 0 25px 0;
    color: #4aaaa5;
}

nav {
    position: relative;
    
    padding: 20px 0;
    float: right;
}

section{
    
}
footer {
    position: absolute;
    bottom: 0;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

a {
    color:#cccccc;
}

p {
    margin:5px;
}



#line {
    background-color: #cccccc;
    height:2px;
    margin-bottom: 30px;
}

#bio-image {
    float: left;
    padding-right: 2em;
}

.main {
    border: 2px solid #cccccc;
    max-width: 920px;
    margin: 0 auto;
    background-color: #ffffff;
    padding:20px;
}